# Resource locations to be added to the 'boostrap' path

# This also contains the minimum you need to use the Ogre example framework

[Bootstrap]

Zip=../Resources/Media/packs/OgreCore.zip



# Resource locations to be added to the default path

[General]

FileSystem=../Resources
FileSystem=../Resources/material/ruins
FileSystem=../Resources/sound
FileSystem=../Resources/particle
FileSystem=../Resources/GUI/font
FileSystem=../Resources/GUI/schemes
FileSystem=../Resources/GUI/imagesets
FileSystem=../Resources/GUI/layouts
FileSystem=../Resources/GUI/looknfeel

FileSystem=../Resources/mesh
FileSystem=../Resources/media

FileSystem=../Resources/media/fonts

FileSystem=../Resources/media/materials/programs

FileSystem=../Resources/media/materials/scripts

FileSystem=../Resources/media/materials/textures

FileSystem=../Resources/media/models

FileSystem=../Resources/media/overlays

FileSystem=../Resources/media/particle
FileSystem=../Resources/media/gui

FileSystem=../Resources/media/DeferredShadingMedia

FileSystem=../Resources/media/PCZAppMedia

Zip=../Resources/media/packs/cubemap.zip

Zip=../Resources/media/packs/cubemapsJS.zip

Zip=../Resources/media/packs/dragon.zip

Zip=../Resources/media/packs/fresneldemo.zip

Zip=../Resources/media/packs/ogretestmap.zip

Zip=../Resources/media/packs/skybox.zip

